/VideoJuego/Entidades/bin
/VideoJuego/Entidades/obj

/VideoJuego/FrameworkNinject/bin
/VideoJuego/FrameworkNinject/obj

/VideoJuego/ImplementacionAtaque/bin
/VideoJuego/ImplementacionAtaque/obj


/VideoJuego/ImplementacionDefensa/bin
/VideoJuego/ImplementacionDefensa/obj


/VideoJuego/ImplementacionPasiva/bin
/VideoJuego/ImplementacionPasiva/obj


/VideoJuego/Interfaces/bin
/VideoJuego/Interfaces/obj


/VideoJuego/Negocio/bin
/VideoJuego/Negocio/obj


/VideoJuego/VideoJuego/bin
/VideoJuego/VideoJuego/obj